@import '../../styles/generalStyles';

.box {
    display: flex;
    margin-bottom: 1rem;
    .box:nth-child(3){
        @media only screen and (min-width: 1024px) {
            margin-left: 10px;
        }
    }
    
    .imageBox img {
        width: 120px;
        height: 100%;
    }
    .contentBox {
        display: flex;
        flex-direction: column;
        padding-left: 0.8rem;
        
        h2 {
            color: $lightGray;
            font-size: 1.8rem;
        }
        h4 {
            color: $darkBlue;
            &:hover {
                cursor: pointer;
                color: $softRed;
            }
        }
        p {
            font-size: 0.9rem;
            padding: 1rem 0;
            color: $darkGray;
        }
    }
}
